In [ ]:
import pandas as pd

In [ ]:
n = int(input("Enter an non-negative integer number:"))
if n > 0:
  even = []
  odd = []
  fibo = [0,1]

  for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

else:
  print('Please enter a integer greater than 0')

Enter an non-negative integer number:4

In [ ]:
odd

[1, 3, 5, 7]

In [ ]:
even

[0, 2, 4, 6]

In [ ]:
fibo

[0, 1, 1, 2]

In [ ]:
len(even) == len(odd) == len(fibo)

True

In [ ]:
fibo_dict = {'Even': even, 'Odd': odd, 'Fibo': fibo}
fibo_df = pd.DataFrame(data = fibo_dict)
fibo_df

   Even  Odd  Fibo
0     0    1     0
1     2    3     1
2     4    5     1
3     6    7     2